{% extends 'base.html' %}

{% load static %}

{% block title %} Furni Checkout {% endblock %}

{% block content %}

<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Checkout</h1>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="untree_co-section">
	<div class="container">
		<form method="post">
			{% csrf_token %}
			<div class="row">
				<!-- Billing Details -->
				<div class="col-md-6 mb-5 mb-md-0">
					<h2 class="h3 mb-3 text-black">Billing Details</h2>
					<div class="p-3 p-lg-5 border bg-white">
						<!-- First & Last Name -->
						<div class="form-group row">
							<div class="col-md-6">
								<label for="first_name" class="text-black">First Name <span
										class="text-danger">*</span></label>
								<input type="text" class="form-control" id="first_name" name="first_name" required>
							</div>
							<div class="col-md-6">
								<label for="last_name" class="text-black">Last Name <span
										class="text-danger">*</span></label>
								<input type="text" class="form-control" id="last_name" name="last_name" required>
							</div>
						</div>
						<!-- Address -->
						<div class="form-group row">
							<div class="col-md-12">
								<label for="address" class="text-black">Address <span
										class="text-danger">*</span></label>
								<input type="text" class="form-control" id="address" name="address"
									placeholder="Street address" required>
							</div>
						</div>
						<!-- Email & Phone -->
						<div class="form-group row mb-5">
							<div class="col-md-6">
								<label for="email" class="text-black">Email Address <span
										class="text-danger">*</span></label>
								<input type="email" class="form-control" id="email" name="email" required>
							</div>
							<div class="col-md-6">
								<label for="phone_number" class="text-black">Phone <span
										class="text-danger">*</span></label>
								<input type="text" class="form-control" id="phone_number" name="phone_number"
									placeholder="Phone Number" required>
							</div>
						</div>
						<!-- Notes -->
						<div class="form-group">
							<label for="notes" class="text-black">Order Notes</label>
							<textarea name="notes" id="notes" cols="30" rows="5" class="form-control"
								placeholder="Write your notes here..."></textarea>
						</div>
						<!-- Submit -->
						<div class="form-group">
							<input type="submit" class="btn btn-primary btn-lg py-3 btn-block" value="Place Order">
						</div>
					</div>
				</div>

				<!-- Your Order -->
				<div class="col-md-6">
					<h2 class="h3 mb-3 text-black">Your Order</h2>
					<div class="p-3 p-lg-5 border bg-white">
						<table class="table site-block-order-table mb-5">
							<thead>
								<tr>
									<th>Product</th>
									<th>Total</th>
								</tr>
							</thead>
							<tbody>
								{% for item in cart_items %}
								<tr>
									<td>{{ item.product.name }} <strong class="mx-2">x</strong> {{ item.quantity }}</td>
									<td>{{ item.product.get_price_type_display }} {{ item.item_total_price }}</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div> <!-- /row -->
		</form>
	</div>
</div>


{% endblock %}