{% extends 'base.html' %}

{% load static %}

{% block title %} Furni Contact {% endblock %}

{% block content %}

<div class="hero">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-5">
				<div class="intro-excerpt">
					<h1>Contact</h1>
				</div>
			</div>
			<div class="col-lg-7">
				<div class="hero-img-wrap">
					<img src="{% static '' %}images/couch.png" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="untree_co-section">
	<div class="container">
		<div class="block">
			<div class="row justify-content-center">
				<form method="post">
					{% csrf_token %}
					<div class="row">
						<div class="col-6">
							<div class="form-group">
								<label class="text-black" for="fname">Full name</label>
								<input type="text" name="full_name" class="form-control" id="fname">
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="text-black" for="email">Email address</label>
						<input type="email" name="email" class="form-control" id="email">
					</div>
					<div class="form-group mb-5">
						<label class="text-black" for="message">Message</label>
						<textarea name="message" class="form-control" id="message" cols="30" rows="5"></textarea>
					</div>
					<button type="submit" class="btn btn-primary-hover-outline">Send Message</button>
				</form>
			</div>
		</div>
	</div>
</div>

{% endblock %}